<div th:fragment="menu">
    <!-- Menú de navegación -->
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand button-link" href="/">
                <img src="/icons/informatica.png" alt="Logo" width="30" height="24" class="d-inline-block align-text-top">
                Home
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link button-link" href="/clientes">Clientes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link button-link" href="/vendedores">Vendedores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link button-link" href="/articulos">Articulos</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link button-link" href="/facturas">Facturas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link button-link" href="/ventas">Ventas</a>
                    </li>
                    <li class="nav-item">
                        <p class="nav-link text-success" id="reloj">Reloj</p>
                    </li>
                </ul>
                <form class="d-flex" role="search">
                    <input class="form-control me-2 text-primary" name="buscar" value="" type="search" placeholder="Buscar" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</div>